<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.integrationdevelopers.com">
            Integration Developers
          </a>
        </li>
        <li>
          <a href="https://www.integrationdevelopers.com">
            About Us
          </a>
        </li>
        <li>
          <a href="https://www.integrationdevelopers.com">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.integrationdevelopers.com">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
      <a href="https://www.integrationdevelopers.com" target="_blank">{{environment.made_with}}</a> for a better web.
    </div>
  </div>
</footer>
